@import "../../global/globalstyle/style.scss";
.details {
    @include flex();
    align-items: center;
    width: 1280px;
    height: 198px;
    background-color: #171717;
    color: #ffffff88;
    margin-bottom: 13px;
    border-radius: 10px;
    img {
        border-radius: 5px;
        width: 296px;
        height: 148px;
    }
    >.col {
        @include flex($gap: 44px);
        padding: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        p {
            margin-bottom: 8px;
            span {
                color: #cfcfcf;
            }
        }
    }
    .names {
        gap: 24px;
        align-items: flex-start;
        justify-self: flex-start;
        height: 100%;
        span {
            padding: 4px 10px;
            height: 23px;
            border-radius: 16px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            background-color: #0000008f;
        }
    }
}